---
const { href, title } = Astro.props;
---
<a href={href} class="mb-2 no-underline py-1 px-3 rounded uppercase text-xs font-semibold tracking-wide inline-block cursor-pointer transition-colors duration-100 ease-out bg-green-700 text-white hover:text-white hover:bg-stone-900">
	{title}
</a>
