---
const { href, title } = Astro.props;
---
<div class="h-full border border-stone-300 rounded flex flex-col bg-stone-50 shadow-sm transition-all duration-200 ease-out hover:shadow-lg">
	<div class="flex flex-col px-6 py-6">
		<a href={href} class="text-xl hover:text-green-700 hover:no-underline transition-all duration-100 ease-out">
			{title}
		</a>
	</div>
</div>
